*{
margin: 0;
padding: 0;
}
:root{

}
.cabecalho{
    background-color: rgb(180, 99, 255);
    padding: 50px;
}
.corpo{
    background-color: rgba(0, 255, 255, 0.158);
}
.footer{
    background-color: aquamarine;
}
.boton{
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: aliceblue;
    color: azure;
text-decoration: none;
border-radius: 5px;
}
.boton:hover{
    background-color: blueviolet;
}
.boton:active{
    font-size: 20px;
}
